@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

@font-face {
  font-family: "Aptos";
  src: url("/fonts/aptos/Aptos.ttf");
}
.aptos {
  font-family: "Aptos", sans-serif;
}
@font-face {
  font-family: "brownbulgary";
  src: url("/fonts/brownbulgary/BrownBulgary.ttf");
}

@font-face {
  font-family: "FODO";
  src: url("/fonts/fadou/faodudemoregular-2vl4v.otf");
}

.fodo {
  font-family: "FODO", sans-serif;
}
.brownbulgary {
  font-family: "brownbulgary", sans-serif;
}
:root {
  --color: rgb(0, 0, 0);
}

body {
  background-color: var(--color);
}

.image {
  background: linear-gradient(220deg, transparent, var(--color)),
    linear-gradient(to bottom, transparent, var(--color)),
    linear-gradient(to right, transparent, var(--color)),
    url("/images/mImage.png");
  background-position: center;
  background-size: cover;
  filter: saturate(0);
  transform: scale(2.5) scaleX(-1);
}

.title {
  font-size: 9rem;
  line-height: 0.8;
  color: wheat;
  font-family: "FODO", sans-serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .image {
    scale: 1;
    left: 25%;
  }
}
.kbm-title {
  font-size: 5rem;
  line-height: 0.8;
  color: black;
  font-family: "FODO", sans-serif;
}

.keyboard {
  position: relative;
  width: 60%;
  height: 300px;
}

.key {
  @apply flex h-6 w-6 items-center justify-center rounded-full border-black bg-orange-800/80 font-mono text-xl font-medium shadow-md shadow-orange-950 md:h-16 md:w-16;
}
.icon {
  @apply m-3 rounded-full;
}
.card {
  color: wheat;
  @apply brownbulgary rounded-lg border border-orange-200/35 bg-black/30 p-3 text-5xl backdrop-blur-md;
}
.navButton {
  background-color: transparent;
  @apply brownbulgary rounded-lg border-2 border-transparent p-1 text-lg font-medium;
  transition:
    background-color 0.8s ease,
    border-color 0.8s ease,
    color 0.8s ease;
}

.navButton:hover {
  background-color: rgb(226, 190, 122);
  @apply text-stone-800;
}
.buyButton {
  background-color: wheat;
  @apply brownbulgary rounded-lg border-2 border-transparent p-1 text-lg font-medium text-black;
  transition:
    background-color 0.8s ease,
    border-color 0.8s ease,
    color 0.8s ease;
}

.buyButton:hover {
  background-color: lightgreen;
  @apply text-stone-800;
}
.devLink {
  @apply aptos absolute left-8 top-20 z-50 scale-50 border-b-2 border-black text-xs font-bold text-black md:left-16 md:top-40 md:scale-100 md:text-xl;
  transform: rotate(-18deg);
  transform-origin: top left;
}

.devLink2 {
  @apply aptos absolute left-10 top-24 z-50 scale-50 border-b-2 border-black text-xs font-bold text-black md:left-[4.6rem] md:top-48 md:scale-100 md:text-xl;
  transform: rotate(-18deg);
  transform-origin: top left;
}
