@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

@font-face {
  font-family: "Morgai";
  src: url("/fonts/morgaiRetan/morgai-retan.otf");
}

@font-face {
  font-family: "FODO";
  src: url("/fonts/fadou/faodudemoregular-2vl4v.otf");
}

@font-face {
  font-family: "Mersica";
  src: url("/fonts/merisca-font/merisca.otf");
}
.fodo {
  font-family: "FODO", sans-serif;
}
.mersica {
  font-family: "Mersica", sans-serif;
}
:root {
  --color: rgb(0, 0, 0);
}

body {
  background-color: var(--color);
}

/* body {
  cursor: none;
} */
.image {
  background: linear-gradient(220deg, transparent, var(--color)),
    linear-gradient(to bottom, transparent, var(--color)),
    linear-gradient(to right, transparent, var(--color)),
    url("/images/mImage.png");
  background-position: center;
  background-size: cover;
  filter: saturate(0);
  transform: scale(2.5) scaleX(-1);
}

.title {
  font-size: 9rem;
  line-height: 0.8;
  color: wheat;
  font-family: "FODO", sans-serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .image {
    scale: 1;
    left: 25%;
  }
}
.kbm-title {
  font-size: 5rem;
  line-height: 0.8;
  color: black;
  font-family: "FODO", sans-serif;
}

.keyboard {
  position: relative;
  width: 60%;
  height: 300px;
}

.key {
  @apply flex h-6 w-6 items-center justify-center rounded-full border-black bg-orange-800/80 font-mono text-xl font-medium shadow-md shadow-orange-950 md:h-16 md:w-16;
}
.icon {
  @apply m-3 rounded-full;
}
.card {
  @apply rounded-full border border-orange-200/35 bg-black/30 p-3 text-5xl text-white backdrop-blur-md;
}
.navButton {
  background-color: black;
  color: wheat;
  @apply fodo rounded-3xl border-2 border-transparent p-2 text-lg font-medium;
  transition:
    background-color 0.8s ease,
    border-color 0.8s ease,
    color 0.8s ease;
}

.navButton:hover {
  background-color: wheat;

  color: black;
}
